@mixin displayFloatImage {
    & > div {
        float: left;
        margin-top: 1.5rem;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
      }
      &::after {
        content: "";
        clear: both;
        display: table;
      }
}

@mixin  displayFlex($align,$js,$ai) {
  display: flex;
  flex-direction: $align;
  justify-content: $js;
  align-items: $ai;
}